<%- layout("/layouts/boilerplate.ejs") %>

<div class="row col-5 offset-3 mt-5">
    <div class="alert alert-danger" role="alert">
        <h3><%= message %></h3>
        <h4> Error status : <%= status %></h4>
    </div>
</div>
